//! **************************************************************************
// Written by: Map K.39 on Tue Feb 24 18:16:34 2009
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "M8";
PROHIBIT = SITE "M7";
PROHIBIT = SITE "M4";
PROHIBIT = SITE "M3";
PROHIBIT = SITE "M6";
PROHIBIT = SITE "M5";
PROHIBIT = SITE "M2";
PROHIBIT = SITE "M1";
PROHIBIT = SITE "R3";
PROHIBIT = SITE "R4";
PROHIBIT = SITE "R5";
PROHIBIT = SITE "R6";
PROHIBIT = SITE "T3";
PROHIBIT = SITE "T4";
PROHIBIT = SITE "T1";
PROHIBIT = SITE "T2";
PROHIBIT = SITE "L19";
PROHIBIT = SITE "M19";
PROHIBIT = SITE "L23";
PROHIBIT = SITE "L24";
PROHIBIT = SITE "M22";
PROHIBIT = SITE "M21";
PROHIBIT = SITE "M23";
PROHIBIT = SITE "M24";
PROHIBIT = SITE "R26";
PROHIBIT = SITE "R25";
PROHIBIT = SITE "R20";
PROHIBIT = SITE "R19";
PROHIBIT = SITE "R24";
PROHIBIT = SITE "R23";
PROHIBIT = SITE "R22";
PROHIBIT = SITE "R21";
PROHIBIT = SITE "D15";
PROHIBIT = SITE "E15";
PROHIBIT = SITE "F15";
PROHIBIT = SITE "G15";
PROHIBIT = SITE "G16";
PROHIBIT = SITE "F16";
PROHIBIT = SITE "A16";
PROHIBIT = SITE "A17";
PROHIBIT = SITE "F11";
PROHIBIT = SITE "E11";
PROHIBIT = SITE "G11";
PROHIBIT = SITE "H11";
PROHIBIT = SITE "D11";
PROHIBIT = SITE "C11";
PROHIBIT = SITE "B11";
PROHIBIT = SITE "B12";
PROHIBIT = SITE "AC21";
PROHIBIT = SITE "Y20";
PROHIBIT = SITE "Y15";
PROHIBIT = SITE "AA15";
PROHIBIT = SITE "AD16";
PROHIBIT = SITE "AE16";
PROHIBIT = SITE "AA16";
PROHIBIT = SITE "Y16";
PROHIBIT = SITE "AB16";
PROHIBIT = SITE "AC16";
PROHIBIT = SITE "AE11";
PROHIBIT = SITE "AD11";
PROHIBIT = SITE "AF11";
PROHIBIT = SITE "AF10";
PROHIBIT = SITE "AA12";
PROHIBIT = SITE "Y12";
PROHIBIT = SITE "AC12";
PROHIBIT = SITE "AB12";
COMP "clk" LOCATE = SITE "AC13" LEVEL 1;
COMP "oen" LOCATE = SITE "W13" LEVEL 1;
COMP "emdc" LOCATE = SITE "K6" LEVEL 1;
COMP "address(0)" LOCATE = SITE "AA22" LEVEL 1;
COMP "address(1)" LOCATE = SITE "Y22" LEVEL 1;
COMP "address(2)" LOCATE = SITE "AB23" LEVEL 1;
COMP "address(3)" LOCATE = SITE "AB24" LEVEL 1;
COMP "address(4)" LOCATE = SITE "AA23" LEVEL 1;
COMP "address(5)" LOCATE = SITE "AA24" LEVEL 1;
COMP "address(6)" LOCATE = SITE "W23" LEVEL 1;
COMP "address(7)" LOCATE = SITE "W22" LEVEL 1;
COMP "address(8)" LOCATE = SITE "Y23" LEVEL 1;
COMP "address(9)" LOCATE = SITE "Y24" LEVEL 1;
COMP "read" LOCATE = SITE "Y13" LEVEL 1;
COMP "iosn" LOCATE = SITE "W12" LEVEL 1;
COMP "rxd1" LOCATE = SITE "C10" LEVEL 1;
COMP "rxd2" LOCATE = SITE "E9" LEVEL 1;
COMP "txd1" LOCATE = SITE "F10" LEVEL 1;
COMP "txd2" LOCATE = SITE "F9" LEVEL 1;
COMP "data(0)" LOCATE = SITE "G20" LEVEL 1;
COMP "data(1)" LOCATE = SITE "H20" LEVEL 1;
COMP "data(2)" LOCATE = SITE "E23" LEVEL 1;
COMP "data(3)" LOCATE = SITE "E24" LEVEL 1;
COMP "data(4)" LOCATE = SITE "G21" LEVEL 1;
COMP "data(5)" LOCATE = SITE "G22" LEVEL 1;
COMP "data(6)" LOCATE = SITE "F23" LEVEL 1;
COMP "data(7)" LOCATE = SITE "F24" LEVEL 1;
COMP "data(8)" LOCATE = SITE "H22" LEVEL 1;
COMP "data(9)" LOCATE = SITE "H21" LEVEL 1;
COMP "gpio(0)" LOCATE = SITE "D6" LEVEL 1;
COMP "gpio(1)" LOCATE = SITE "C6" LEVEL 1;
COMP "gpio(2)" LOCATE = SITE "D7" LEVEL 1;
COMP "gpio(3)" LOCATE = SITE "C7" LEVEL 1;
COMP "gpio(4)" LOCATE = SITE "G6" LEVEL 1;
COMP "gpio(5)" LOCATE = SITE "G7" LEVEL 1;
COMP "gpio(6)" LOCATE = SITE "E6" LEVEL 1;
COMP "gpio(7)" LOCATE = SITE "E7" LEVEL 1;
COMP "erxd(0)" LOCATE = SITE "L4" LEVEL 1;
COMP "erxd(1)" LOCATE = SITE "L3" LEVEL 1;
COMP "erxd(2)" LOCATE = SITE "L6" LEVEL 1;
COMP "erxd(3)" LOCATE = SITE "L5" LEVEL 1;
COMP "etxd(0)" LOCATE = SITE "K4" LEVEL 1;
COMP "etxd(1)" LOCATE = SITE "K3" LEVEL 1;
COMP "etxd(2)" LOCATE = SITE "H4" LEVEL 1;
COMP "etxd(3)" LOCATE = SITE "H5" LEVEL 1;
COMP "emdio" LOCATE = SITE "L8" LEVEL 1;
COMP "address(10)" LOCATE = SITE "W24" LEVEL 1;
COMP "address(11)" LOCATE = SITE "V20" LEVEL 1;
COMP "address(20)" LOCATE = SITE "T21" LEVEL 1;
COMP "address(12)" LOCATE = SITE "U20" LEVEL 1;
COMP "address(21)" LOCATE = SITE "T22" LEVEL 1;
COMP "address(13)" LOCATE = SITE "V22" LEVEL 1;
COMP "address(22)" LOCATE = SITE "T23" LEVEL 1;
COMP "address(14)" LOCATE = SITE "V23" LEVEL 1;
COMP "address(23)" LOCATE = SITE "T24" LEVEL 1;
COMP "address(15)" LOCATE = SITE "V24" LEVEL 1;
COMP "address(24)" LOCATE = SITE "T19" LEVEL 1;
COMP "address(16)" LOCATE = SITE "U21" LEVEL 1;
COMP "address(25)" LOCATE = SITE "T20" LEVEL 1;
COMP "address(17)" LOCATE = SITE "U22" LEVEL 1;
COMP "address(26)" LOCATE = SITE "P20" LEVEL 1;
COMP "address(18)" LOCATE = SITE "U23" LEVEL 1;
COMP "address(27)" LOCATE = SITE "P21" LEVEL 1;
COMP "address(19)" LOCATE = SITE "U24" LEVEL 1;
COMP "dsuen" LOCATE = SITE "E3" LEVEL 1;
COMP "dsurx" LOCATE = SITE "H7" LEVEL 1;
COMP "dsutx" LOCATE = SITE "F3" LEVEL 1;
COMP "sdclk" LOCATE = SITE "AC22" LEVEL 1;
COMP "sdwen" LOCATE = SITE "Y19" LEVEL 1;
COMP "erx_clk" LOCATE = SITE "J4" LEVEL 1;
COMP "erx_col" LOCATE = SITE "K7" LEVEL 1;
COMP "pci_gnt" LOCATE = SITE "P3" LEVEL 1;
COMP "erx_crs" LOCATE = SITE "J7" LEVEL 1;
COMP "pci_par" LOCATE = SITE "AC5" LEVEL 1;
COMP "pci_req" LOCATE = SITE "R7" LEVEL 1;
COMP "etx_clk" LOCATE = SITE "J5" LEVEL 1;
COMP "pci_rst" LOCATE = SITE "N8" LEVEL 1;
COMP "pci_ad(0)" LOCATE = SITE "AB11" LEVEL 1;
COMP "pci_ad(1)" LOCATE = SITE "W11" LEVEL 1;
COMP "pci_ad(2)" LOCATE = SITE "Y10" LEVEL 1;
COMP "pci_ad(3)" LOCATE = SITE "Y11" LEVEL 1;
COMP "pci_ad(4)" LOCATE = SITE "AA11" LEVEL 1;
COMP "pci_ad(5)" LOCATE = SITE "AD9" LEVEL 1;
COMP "pci_ad(6)" LOCATE = SITE "AB10" LEVEL 1;
COMP "pci_ad(7)" LOCATE = SITE "AA10" LEVEL 1;
COMP "pci_ad(8)" LOCATE = SITE "AD10" LEVEL 1;
COMP "pci_ad(9)" LOCATE = SITE "AC10" LEVEL 1;
COMP "rwen(0)" LOCATE = SITE "AA17" LEVEL 1;
COMP "rwen(1)" LOCATE = SITE "AB17" LEVEL 1;
COMP "rwen(2)" LOCATE = SITE "AC17" LEVEL 1;
COMP "rwen(3)" LOCATE = SITE "AD17" LEVEL 1;
COMP "pci_idsel" LOCATE = SITE "P8" LEVEL 1;
COMP "pci_frame" LOCATE = SITE "W5" LEVEL 1;
COMP "ramoen(0)" LOCATE = SITE "W14" LEVEL 1;
COMP "ramoen(1)" LOCATE = SITE "Y14" LEVEL 1;
COMP "ramoen(2)" LOCATE = SITE "AA14" LEVEL 1;
COMP "ramoen(3)" LOCATE = SITE "AB14" LEVEL 1;
COMP "ramoen(4)" LOCATE = SITE "AD14" LEVEL 1;
COMP "data(10)" LOCATE = SITE "H23" LEVEL 1;
COMP "data(11)" LOCATE = SITE "H24" LEVEL 1;
COMP "data(20)" LOCATE = SITE "J24" LEVEL 1;
COMP "data(12)" LOCATE = SITE "J21" LEVEL 1;
COMP "data(21)" LOCATE = SITE "K23" LEVEL 1;
COMP "data(13)" LOCATE = SITE "J20" LEVEL 1;
COMP "data(30)" LOCATE = SITE "N23" LEVEL 1;
COMP "data(22)" LOCATE = SITE "K24" LEVEL 1;
COMP "data(14)" LOCATE = SITE "J22" LEVEL 1;
COMP "data(31)" LOCATE = SITE "P23" LEVEL 1;
COMP "data(23)" LOCATE = SITE "L22" LEVEL 1;
COMP "data(15)" LOCATE = SITE "J23" LEVEL 1;
COMP "data(24)" LOCATE = SITE "L21" LEVEL 1;
COMP "data(16)" LOCATE = SITE "K21" LEVEL 1;
COMP "data(25)" LOCATE = SITE "M20" LEVEL 1;
COMP "data(17)" LOCATE = SITE "K22" LEVEL 1;
COMP "data(26)" LOCATE = SITE "N20" LEVEL 1;
COMP "data(18)" LOCATE = SITE "K20" LEVEL 1;
COMP "data(27)" LOCATE = SITE "N22" LEVEL 1;
COMP "data(19)" LOCATE = SITE "L20" LEVEL 1;
COMP "data(28)" LOCATE = SITE "N21" LEVEL 1;
COMP "data(29)" LOCATE = SITE "N24" LEVEL 1;
COMP "spw_rxd(0)" LOCATE = SITE "C16" LEVEL 1;
COMP "spw_rxd(1)" LOCATE = SITE "D16" LEVEL 1;
COMP "spw_txd(0)" LOCATE = SITE "H15" LEVEL 1;
COMP "spw_txd(1)" LOCATE = SITE "G14" LEVEL 1;
COMP "spw_rxs(0)" LOCATE = SITE "D14" LEVEL 1;
COMP "spw_rxs(1)" LOCATE = SITE "C15" LEVEL 1;
COMP "spw_txs(0)" LOCATE = SITE "F14" LEVEL 1;
COMP "spw_txs(1)" LOCATE = SITE "E14" LEVEL 1;
COMP "dsuact" LOCATE = SITE "H6" LEVEL 1;
COMP "dsubre" LOCATE = SITE "E4" LEVEL 1;
COMP "erx_er" LOCATE = SITE "L7" LEVEL 1;
COMP "erx_dv" LOCATE = SITE "J3" LEVEL 1;
COMP "etx_en" LOCATE = SITE "K5" LEVEL 1;
COMP "etx_er" LOCATE = SITE "J6" LEVEL 1;
COMP "errorn" LOCATE = SITE "G5" LEVEL 1;
COMP "sdcasn" LOCATE = SITE "AB20" LEVEL 1;
COMP "sdrasn" LOCATE = SITE "AA20" LEVEL 1;
COMP "resetn" LOCATE = SITE "F4" LEVEL 1;
COMP "pllref" LOCATE = SITE "AB13" LEVEL 1;
COMP "sdcke(0)" LOCATE = SITE "AC18" LEVEL 1;
COMP "sdcke(1)" LOCATE = SITE "AD18" LEVEL 1;
COMP "pci_lock" LOCATE = SITE "AA3" LEVEL 1;
COMP "pci_irdy" LOCATE = SITE "W7" LEVEL 1;
COMP "pci_host" LOCATE = SITE "R8" LEVEL 1;
COMP "pci_perr" LOCATE = SITE "AB3" LEVEL 1;
COMP "pci_serr" LOCATE = SITE "AB4" LEVEL 1;
COMP "pci_trdy" LOCATE = SITE "W6" LEVEL 1;
COMP "writen" LOCATE = SITE "AA13" LEVEL 1;
COMP "pci_stop" LOCATE = SITE "Y6" LEVEL 1;
COMP "sddqm(0)" LOCATE = SITE "AA18" LEVEL 1;
COMP "sddqm(1)" LOCATE = SITE "AB18" LEVEL 1;
COMP "sddqm(2)" LOCATE = SITE "Y18" LEVEL 1;
COMP "sddqm(3)" LOCATE = SITE "Y17" LEVEL 1;
COMP "sdcsn(0)" LOCATE = SITE "W20" LEVEL 1;
COMP "ramsn(0)" LOCATE = SITE "W15" LEVEL 1;
COMP "sdcsn(1)" LOCATE = SITE "Y21" LEVEL 1;
COMP "ramsn(1)" LOCATE = SITE "W16" LEVEL 1;
COMP "ramsn(2)" LOCATE = SITE "AB15" LEVEL 1;
COMP "ramsn(3)" LOCATE = SITE "AC15" LEVEL 1;
COMP "ramsn(4)" LOCATE = SITE "AD15" LEVEL 1;
COMP "pci_ad(10)" LOCATE = SITE "AB8" LEVEL 1;
COMP "pci_ad(11)" LOCATE = SITE "AA8" LEVEL 1;
COMP "pci_ad(20)" LOCATE = SITE "V5" LEVEL 1;
COMP "pci_ad(12)" LOCATE = SITE "AC7" LEVEL 1;
COMP "pci_ad(21)" LOCATE = SITE "V4" LEVEL 1;
COMP "pci_ad(13)" LOCATE = SITE "AD7" LEVEL 1;
COMP "pci_ad(30)" LOCATE = SITE "T6" LEVEL 1;
COMP "pci_ad(22)" LOCATE = SITE "V3" LEVEL 1;
COMP "pci_ad(14)" LOCATE = SITE "Y8" LEVEL 1;
COMP "pci_ad(31)" LOCATE = SITE "T8" LEVEL 1;
COMP "pci_ad(23)" LOCATE = SITE "U7" LEVEL 1;
COMP "pci_ad(15)" LOCATE = SITE "Y7" LEVEL 1;
COMP "pci_ad(24)" LOCATE = SITE "T7" LEVEL 1;
COMP "pci_ad(16)" LOCATE = SITE "W4" LEVEL 1;
COMP "pci_ad(25)" LOCATE = SITE "U4" LEVEL 1;
COMP "pci_ad(17)" LOCATE = SITE "W3" LEVEL 1;
COMP "pci_ad(26)" LOCATE = SITE "U3" LEVEL 1;
COMP "pci_ad(18)" LOCATE = SITE "V6" LEVEL 1;
COMP "pci_ad(27)" LOCATE = SITE "U6" LEVEL 1;
COMP "pci_ad(19)" LOCATE = SITE "V7" LEVEL 1;
COMP "pci_ad(28)" LOCATE = SITE "U5" LEVEL 1;
COMP "pci_ad(29)" LOCATE = SITE "T5" LEVEL 1;
COMP "pci_arb_gnt(0)" LOCATE = SITE "N7" LEVEL 1;
COMP "pci_arb_gnt(1)" LOCATE = SITE "N6" LEVEL 1;
COMP "pci_arb_gnt(2)" LOCATE = SITE "N5" LEVEL 1;
COMP "pci_arb_gnt(3)" LOCATE = SITE "N4" LEVEL 1;
COMP "pci_cbe(0)" LOCATE = SITE "AB7" LEVEL 1;
COMP "pci_cbe(1)" LOCATE = SITE "AA7" LEVEL 1;
COMP "pci_cbe(2)" LOCATE = SITE "AD6" LEVEL 1;
COMP "pci_cbe(3)" LOCATE = SITE "AC6" LEVEL 1;
COMP "pci_arb_req(0)" LOCATE = SITE "P4" LEVEL 1;
COMP "pci_arb_req(1)" LOCATE = SITE "P5" LEVEL 1;
COMP "pci_arb_req(2)" LOCATE = SITE "P6" LEVEL 1;
COMP "pci_arb_req(3)" LOCATE = SITE "P7" LEVEL 1;
COMP "romsn(0)" LOCATE = SITE "AD12" LEVEL 1;
COMP "romsn(1)" LOCATE = SITE "AC11" LEVEL 1;
COMP "pci_devsel" LOCATE = SITE "Y5" LEVEL 1;
COMP "clkgen0/xc2v.v/sd0.dll1" LOCATE = SITE "DCM_X5Y0" LEVEL 1;
COMP "clkgen0/xc2v.v/dll0" LOCATE = SITE "DCM_X2Y0" LEVEL 1;
NET "lclk" PERIOD = 25 ns HIGH 50%;
NET "eth0.erxc_pad/xcv2.u0/ol" PERIOD = 40 ns HIGH 50%;
NET "eth0.etxc_pad/xcv2.u0/ol" PERIOD = 40 ns HIGH 50%;
PIN resetn_pins<0> = BEL "resetn" PINNAME PAD;
PIN pci_rst_pins<0> = BEL "pci_rst" PINNAME PAD;
PIN "resetn_pins<0>" TIG;
PIN "pci_rst_pins<0>" TIG;
OFFSET = OUT 25 ns AFTER COMP "clk";
OFFSET = IN 7 ns BEFORE COMP "clk";
OFFSET = IN 10 ns BEFORE COMP "erx_clk";
OFFSET = OUT 20 ns AFTER COMP "etx_clk";
OFFSET = IN 8 ns BEFORE COMP "etx_clk";
SCHEMATIC END;

